<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head th:replace="partials/fragment :: head('Registration')"></head>
<body>
<nav th:replace="partials/fragment :: navbar"></nav>
<div class="container">
  <div class="card">
    <div class="content">
      <h1 class="page-header">Registration</h1><br>
      <div class="alert alert-danger" th:if="${param.pmfail}"th:with="errorMsg='Your passwords did not match'">
        Your registration attempt was not successful, please try again.<br />
        Reason: <span th:text="${errorMsg}">Wrong input!</span>
      </div>
      <div class="alert alert-danger" th:if="${param.uexists}"th:with="errorMsg='This username is already in use'">
        Your registration attempt was not successful, please try again.<br />
        Reason: <span th:text="${errorMsg}">Wrong input!</span>
      </div>
      <div class="alert alert-danger" th:if="${param.eexists}"th:with="errorMsg='This email is already in use'">
        Your registration attempt was not successful, please try again.<br />
        Reason: <span th:text="${errorMsg}">Wrong input!</span>
      </div>
      <div class="alert alert-danger" th:if="${param.notinvited}"th:with="errorMsg='You do not yet have an invitation. Please contact a family member that currently has access'">
        Your registration attempt was not successful, please try again.<br />
        Reason: <span th:text="${errorMsg}">Wrong input!</span>
      </div>
      <div class="alert alert-danger" th:if="${param.error}" th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
        Your registration attempt was not successful, please try again.<br />
        Reason: <span th:text="${errorMsg}">Wrong input!</span>
      </div>
      <form class="form" th:action="@{/register}" th:method="POST" th:object="${newUser}">
        <label th:for="username"><span class="required">* </span>User Name:</label><br>
        <input class="register-input"  th:id="username" th:name="username" placeholder="User Name" th:value="${uName}" required>
        <br> <label th:for="email"><span class="required">* </span>Email:</label><br>
        <input class="register-input" type="email" th:id="email" th:name="email" placeholder="Email@" th:value="${email}" required>
        <br><label for="password"><span class="required">* </span>Password:</label><br>
        <input class="register-input" type="password" id="password" name="password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required th:field="*{password}">
        <div id="message">
          <p  id="letter" class="invalid">A <b>lowercase</b> letter</p>
          <p  id="capital" class="invalid">A <b><capit></capit>al (uppercase)</b> letter</p>
          <p  id="number" class="invalid">A <b>number</b></p>
          <p  id="length" class="invalid">Minimum <b>8 characters</b></p>
        </div>
        <label for="verify-password" style="width: 100%"><span class="required">*</span>Verify-Password:</label><br>
        <input class="register-input" type="password" id="verify-password" name="verify-password" placeholder="Verify Password" required><br>
        <button style="border-radius: 25px" type="submit" value="submit">Submit</button><br>
      </form>
    </div>
  </div>
</div>
<div th:replace="partials/fragment :: scripts"></div>
</body>
</html>