<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/fragment :: head('Verification Successful')"></head>
<body>
<nav th:replace="partials/fragment :: navbar"></nav>
<div class="container">
  <div class="card">
    <div class="content">
      <h3>Congratulations, user verification was successful!</h3>
      <h4><a th:href="@{/login}">Click here to login</a></h4>
    </div>
  </div>
</div>
</body>
</html>